<!-- HTML Astro Framework--> 
<div class="description">
  <h2>¡Únete a la Carrera Solidaria por la Salud!</h2>
  <img src="https://media.licdn.com/dms/image/D4E3DAQGs-i0qLa1bNw/image-scale_191_1128/0/1676330779766/msf_latam_cover?e=1700629200&v=beta&t=CQDV-peEx2pJBxknRNOewAStyJHlmECHD6MHeT6Drao" alt="Baner Medicos Sin Fronteras">
  <p>Participa en la Carrera Solidaria por la Salud, un evento emocionante organizado por Médicos Sin Fronteras México y Centroamérica. Este evento benéfico se llevará a cabo el 15 de diciembre de 2023, en el pintoresco Bosque de Chapultepec, en pleno corazón de la Ciudad de México.</p>
  <p>Corre por una causa noble y contribuye a mejorar la salud global. Al participar, estarás apoyando directamente los esfuerzos de Médicos Sin Fronteras para brindar atención médica a quienes más lo necesitan en todo el mundo.</p>
  <p id='register'>Regístrate ahora para asegurar tu participación y únate a nosotros en esta jornada de solidaridad y bienestar. ¡Te esperamos para compartir juntos un día lleno de emoción, salud y solidaridad!</p>
</div>

<!-- CSS Astro Framework--> 

<style>

.description h2 {
  margin-bottom: 5vh;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 0vh 15vw;
}

.description p {
  margin-top: 5vh;
  color: #505050;
}

/**Media queries Mobile */

@media screen and (max-width: 480px) {
  .description {
    padding: 0vh 9vw;
  }

</style>